@tailwind base;
@tailwind components;
@tailwind utilities;


.delay-5000{
  animation-delay: 5s;
}
.bg-gg {
  background: rgb(48, 48, 48);
  background-image: linear-gradient(
    48deg,
    rgb(58, 58, 58) 0%,
    rgb(63, 63, 63) 27%,
    rgba(84, 84, 84, 1) 72%,
    rgb(100, 100, 100) 100%
  );
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.container {
  max-width: 1920px; /* Adjust this value to your preference */
  margin: 0 auto; /* Centers the container */
  padding: 0 15px; /* Adds some padding to the sides */
  width: 100%; /* Ensures the container spans the full width of its parent */
  box-sizing: border-box; /* Ensures padding is included in the element's total width */
}

/* Optional: Add responsive adjustments */
@media (max-width: 768px) {
  .container {
    max-width: 100%; /* Removes the max-width on smaller screens */
    padding: 0 10px; /* Adjusts padding for smaller screens */
  }
}
